<ion-header *ngIf="training">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'TRAINING_TAB.TRAINING' | translate}} {{currentExercise + 1}} {{'TRAINING_TAB.OF' | translate}} {{training.length}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="training">
    <app-exercise-inline [exercise]="training[currentExercise]"
                         (nextEvent)="skip()"
                         (exerciseStatus)="processStatus($event)"
                         [isLast]="currentExercise === training.length - 1"></app-exercise-inline>

    <ion-toolbar class="ion-text-center ion-margin-top">
        <ion-button
                *ngIf="currentExercise < training.length - 1 && (!exerciseStatus || exerciseStatus === exerciseStatusEnum.Stopped)"
                color="light"
                (click)="skip()">{{'TRAINING.SKIP' | translate}}
        </ion-button>
        <ion-button *ngIf="currentExercise === training.length - 1 && exerciseStatus !== exerciseStatusEnum.Started"
                    (click)="exit()">{{'TRAINING.EXIT' | translate}}
        </ion-button>
    </ion-toolbar>
</ion-content>
