<ion-toolbar *ngIf="exercise">
    <ion-title>{{exercise.title}}</ion-title>
</ion-toolbar>

<ng-container *ngIf="exercise">
    <div class="content">
        <ion-img class="exercise_img" [src]="exercise.image" [alt]="exercise.id"></ion-img>

        <ion-text>
            <div class="exercise_description">
                <p>{{exercise.fullDescription}}</p>
            </div>
        </ion-text>
    </div>
</ng-container>

<app-countdown *ngIf="exercise && !isCompleted"
               (exerciseStatus)="sendStatus($event)"
               (done)="showNext()"></app-countdown>

<div class="ion-text-center">
    <ion-button *ngIf="exercise && isCompleted && !isLast"
                (click)="goNext()">{{'TRAINING.NEXT' | translate}}</ion-button>
</div>
