.content {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.exercise_img {
    width: 60%;
    margin: 0 auto;
}

.exercise_description {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}
