<div class="ion-padding-top flex-center">
    <ion-button shape="round" fill="outline" (click)="startCounter()" *ngIf="!counterSub">
        <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>

    <ion-button shape="round" fill="outline" *ngIf="counterSub" disabled>
        <ion-icon slot="icon-only" name="pause"></ion-icon>
    </ion-button>

    <ion-text>{{remainingTime}}</ion-text>

    <ion-button shape="round" fill="outline" (click)="stopCounter()" [disabled]="remainingTime === TOTAL_COUNT">
        <ion-icon slot="icon-only" name="square"></ion-icon>
    </ion-button>
</div>
