<ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding-top">
    <ion-toolbar>
        <ion-title>{{'TRAINING_TAB.TRAINING' | translate}}</ion-title>
    </ion-toolbar>

    <ion-button expand="block"
                (click)="startTraining()">
        {{'TRAINING_TAB.START_TRAINING' | translate}}
    </ion-button>

    <ion-button *ngFor="let training of trainings"
                expand="block"
                (click)="startTrainingById(training.Id)">
        {{
        training.Name + ' '
        + ('TRAINING_TAB.WITH' | translate) + ' ' +
        training.Training_Exercise__r.totalSize + ' '
        + ('TRAINING_TAB.WITH_EXERCISES' | translate)
        }}
    </ion-button>

    <ion-toolbar>
        <ion-title>{{'TRAINING_TAB.EXERCISES' | translate}}</ion-title>
    </ion-toolbar>

    <ng-container *ngFor="let ex of exercises">
        <ion-card (click)="goToExercisePage(ex.id)">
            <ion-img [src]="ex.image"></ion-img>
            <ion-card-header>
                <ion-card-title style="font-size: 20px">{{ex.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p [innerHTML]="ex.shortDescription.trim()" style="font-size: 14px"></p>
            </ion-card-content>
        </ion-card>
    </ng-container>

    <div *ngIf="!(exercises.length)" class="ion-text-center ion-margin-top message-container">
        <ion-text color="gray" (click)="getExercises()">{{'MSG.WAIT' | translate}}</ion-text>
    </div>

</ion-content>
