<ion-header>
    <ion-toolbar>
        <ion-title>{{'LOGIN.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding [formGroup]="loginForm">
    <ion-label>{{'LOGIN.EMAIL_LABEL' | translate}}</ion-label>
    <ion-input type="text"
               formControlName="userName"
               [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate"></ion-input>

    <ion-label>{{'LOGIN.PASSWORD_LABEL' | translate}}</ion-label>
    <ion-input type="password"
               formControlName="password"
               [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"></ion-input>

    <ion-button color="success"
                [disabled]="loginForm.invalid"
                (click)="login()">{{'LOGIN.LOGIN_BUTTON' | translate}}</ion-button>

    <ion-button [disabled]="false"
                (click)="register()">{{'LOGIN.REGISTER' | translate}}</ion-button>
</ion-content>
