<ion-content>
    <ion-card *ngFor="let piece of news" class="welcome-card">
        <ion-img [src]="piece.image"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{piece.subTitle}}</ion-card-subtitle>
            <ion-card-title>{{piece.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p [innerHTML]="piece.description.trim()"></p>
            <p class="date">{{piece.date}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
