<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="paper"></ion-icon>
            <ion-label>{{'MAIN_MENU.NEWS' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="fitness"></ion-icon>
            <ion-label>{{'MAIN_MENU.TRAINING' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>{{'MAIN_MENU.TIMETABLE' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
