<ion-header *ngIf="exercise">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
        </ion-buttons>

        <ion-title>{{exercise.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

    <ng-container *ngIf="exercise">
        <ion-img class="exercise_img" [src]="exercise.image" [alt]="exercise.id"></ion-img>

        <ion-text>
            <div class="exercise_description">
                <p>{{exercise.fullDescription}}</p>
            </div>
        </ion-text>
    </ng-container>

    <app-countdown *ngIf="exercise"></app-countdown>
</ion-content>
