<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Three {{getLanguage()}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="clearStorage()">Clear storage</ion-button>

    <ion-button (click)="removeToken()">Remove Token</ion-button>

    <ion-button (click)="getToken()">Update token</ion-button>

    <ion-text>{{token}}</ion-text>
</ion-content>
